html,body {
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba(4,146,196,0.3);
	background: url('cstuypic2.png') no-repeat fixed;
	background-size: cover;
	background-position: left top;
}

header, h1, h2, h3, h4, button{
	font-family: 'Play', sans-serif;
}

header{
	position: absolute;
	top: 0;
	background-color: rgba(255,255,255,0.7);
	border-bottom: 1px solid black;
	height: 80px;
	padding: 10px 0;
	width: 100%;
}

header img, header h1, header h2{
	display: inline;
	padding-left: 20px;
}

header h1{
	font-size: 70px;
	color: #0492C4;
}

header img{
	height: 80px;
}

div{
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #ccc;
	width: 50%;
	margin: 40px auto;
	padding: 10px;
	font-family: 'Rambla', sans-serif;
}

div#submitted, div#error{
	display: none;
	border: none;
	box-shadow: none;
	text-align: center;
}

#info {
	margin-top: 120px;
}

div address,div h3, div h4{
	text-align: center;
}

div img{
	display: block;
	margin: auto;
	padding-bottom: 10px;
}

form input{
	width: 100%;
	height: 2em;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 1px 1px 3px #888888;
}

form button{
	font-family: 'Rambla', sans-serif;
	font-weight: bold;
	font-size: 100%;
	padding: 6px 12px;
	display: block;
	margin: 10px auto;
	vertical-align: middle;
	border: 1px #000 solid;
	background-color: #fff;
	border-radius: 4px;
}

form button:hover{
	cursor: pointer;
	background-color: #f0f0f0;
}

div#img {
	display: none;
}

@media all and (max-width: 900px){
	div{
		width: 80%;
	}
}

@media all and (max-width: 700px){
	header h2{
		font-size: 1.2em;
	}
}

@media all and (max-width: 600px){
	body{
		background: none;
		background-color: rgba(4,146,196,0.3);
	}

	header{
		height: 40px;
	}

	header img{
		height: 100%;
	}

	header h2{
		font-size: 3vw;
	}

	div#img{
		display: block;
	}

	div#img img{
		width: 100%;
		padding-bottom: 0;
	}
}

